doctype html
html
  head
    title= `${title}`
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css', type="text/css")
    script(type='text/javascript', src='/js/instascan.min.js')

  body
    div(class="container")
        h1(class="text-center") Control de Motos GAD Quevedo
        block content
