body {
    background-color: #eee;
}

img {
    max-width: 100%;
}

video, select {
    width: 100%;
    max-width: 100%;
}

h1, h2 {
    font-weight: 600;
    margin-top: 30px;
}

.hidden {
    display: none;
}

.btn-primary {
    background-color: #80cc27;
    border-color: #80cc27;
}

.btn-primary:hover {
    background-color: #3eb83c;
    border-color: #3eb83c;
}
